requests
python-dotenv
langchain
langchain-openai
langchain-core
langchain-community
pydantic
duckduckgo-search
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
tavily-python
fastapi